/*

My Custom CSS
=============

Author: Abraham Arce
Updated: February 2015
Notes: Custom CSS for YoGonzo website

*/

/* 	--------------------------------------
	Layout
	-------------------------------------- */



/*	--------------------------------------
	Typography
	-------------------------------------- */



/*	--------------------------------------
	Navbar
	-------------------------------------- */



/*	--------------------------------------
	Carousel
	-------------------------------------- */



/*	--------------------------------------
	Global Styles
	-------------------------------------- */



/*	--------------------------------------
	Media Queries
	-------------------------------------- */

/* Portrait & Landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {

}
/* Up to small desktop */
@media (max-width: 979px) {

}

/* Small desktop & up */
@media (min-width: 979px) {

}

